.card{
    border:none;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
    max-width: 350px;
    width: 95%;
    font-size: 12px;
}
.card.extra-width{
    max-width: 650px;
}
.card .card-header{
    background: #fff;
    padding: 1.4rem 2rem;
    text-align: center;
}
.card label{
    margin-bottom: .2rem;
}
.loadingDiv .card-body, .loadingDiv .card-footer{
    opacity: 0;
    pointer-events: none;
    cursor: auto;
}
.card .card-footer .footer-text span{
    cursor: pointer;
    color:#02b389
}
