body{
    background: #f8f8f8;
    color: #626262;
    font-size: 14px;
    font-family: Montserrat,Helvetica,Arial,sans-serif;
}
.container-fluid{
    padding-right: 40px;
    padding-left: 40px;
}
.font-weight-semibold{	
    font-weight: 600!important;	
}	
.loadingDiv {	
    background: url(../img/loading.svg) center center/40px auto no-repeat #fff;	
}
.btn.dropdown-toggle{
    background-color: transparent;
    border: 1px solid #ced4da !important;
    font-size: 14px;
}
.btn-light:not(:disabled):not(.disabled).active, .btn-light:not(:disabled):not(.disabled):active, .show>.btn-light.dropdown-toggle{
    background-color: transparent !important;
}
.btn-primary{
    box-shadow: 0 0 6px 1px rgba(25, 202, 160, 0.2);
    background-image: linear-gradient(to right, #02b389, #19caa0 );
    padding: .5rem 3.2rem !important;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    text-transform: uppercase;
    min-width: 160px;
}
.btn-primary:active{
    background-image: linear-gradient(to right, #02b389, #19caa0 ) !important;
    border: none !important;
}
.btn-primary:focus {
    box-shadow: 0 0 6px 1px rgba(25, 202, 160, 0.8) !important;
}
.btn-primary:hover {
    background-image:linear-gradient(to right,rgba(2, 177, 136, 1), rgba(25, 202, 160, 0.8))
}
.btn-secondary{
    box-shadow: 0 0 6px 1px rgba(153, 153, 153, 0.2);
    background-color: #999999;
    padding: .5rem 3.2rem !important;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    text-transform: uppercase;
    min-width: 160px;
}
.btn-secondary:focus{
    box-shadow: 0 0 6px 1px rgba(153, 153, 153, 0.8);
}
.btn-secondary:active{
    background-color: 999999;
    border: none !important;
}
.form-control{
    font-size: 14px;
}
.form-control:focus{
    border-color: #02b389;
    box-shadow: none;
}
option:disabled{
    background: #dae0e5;
    color: #999;
}
.error{
    color: #f44336;
}
@media only screen and (max-width: 767px) {
    .hidden-xs{
        display: none !important;
    }
}
input::-webkit-input-placeholder{color:#f8f8f8;font-size:10px;font-style:italic;opacity:1}
input::-moz-input-placeholder{color:#f8f8f8;font-size:10px;font-style:italic;opacity:1}
input::-ms-input-placeholder{color:#f8f8f8;font-size:10px;font-style:italic;opacity:1}